.wrapper {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-transform: capitalize;
}

.subtitle {
    margin-bottom: 1rem;
}

.table {
    width: auto;
}

.table th,
.table td {
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
}
